<style type="text/css">

/* body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
 */
 div#container{
   width: 100%;
   height: 200px;
   position: absolute;
   top: 600px;
   border: 1px solid red;   
 }
 
 div#fromDiv {
	width: 40%; 
	float: left;
	border:1px solid black;
	height: 150px;
}
div#toDiv {
	width: 40%;
	float: right;
	border:1px solid black;
	height: 150px;
}
</style>
