<style>
.column{
	display: inline-block;
	float: left;
	width: 30%;
	vertical-align: top;
	overflow: auto;
}

.rule{
	display: inline-block;
	float: left;
	width: 30%;
	vertical-align: top;
	overflow: auto;
	padding-left: 5%
}

.rValue{
	display: inline-block;
	float: left;
	width: 30%;
	vertical-align: top;
	overflow: auto;
	padding-left: 5%
}
</style>